{% extends 'base.html' %}
{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">MEDICO</h1>
      <div class="row center">
        <h5 class="header col s12 light">We help you take appointments with doctors ONLINE!!</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <h1>analysis ko part</h1>      
  </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job.</p>
  
  
          </div>
          <div class="col l3 s12">
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!"><i class="fab fa-facebook"></i> Facebook</a></li><br>
              <li><a class="white-text" href="#!"><i class="fab fa-instagram"></i> Instagram</a></li><br>
              <li><a class="white-text" href="#!"><i class="fab fa-twitter"></i> Twitter</a></li><br>
              <li><a class="white-text" href="#!"><i class="fab fa-linkedin"></i> Linked-In</a></li><br>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="footer-copyright">
        <div class="container" align="center">
        Copyright &copy; 2019 <a class="brown-text text-lighten-3" href="#">The Invictus Code</a>
        </div>
      </div>
    </footer>


  <!--  Scripts-->


  </body>
</html>
{% endblock %}